<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Portfolio</title>
    <link rel="stylesheet" href="./style.css">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
    </style>
</head>
<body>
    <h1>My Portfolio</h1>
    <h3>Natanael Mota</h3>
    <h3>Welcome to my projects.</h3>

    <a href="/Text_Minecraft">Text Minecraft</a>
    <div class="project">
        <a href="/Text_Minecraft"><img src="https://c.tenor.com/j0KEi6tfpRcAAAAM/minecraft-boxer.gif" scale="0"></a>
        <h5>Minecraft is one of the best games I have ever played. It is extremely fun, challenging and there is never one play alike. Well, how about text minecraft? You spawn on an island and you try to prepare for the night. How long will you survive?</h5>
    </div>
    <a>My Info</a>
    <div class="project">
        <img src="https://media0.giphy.com/media/26u45paxuh0hkTICQ/giphy.gif?cid=790b7611b78b65071181498593d5574b77afa5c019942310&rid=giphy.gif&ct=g" scale="0">
        <ol>
            <h4>Year:2022</h4>
            <h4>Name:Natanael Mota</h4>
            <h4>Current Age:16</h4>
            <h4>School:The Browning School</h4>
            
        </ol>


    </div>





    <script src="navbar.js"></script>
    <span onclick="openNav()">Menu</span>

    

    <div id="main">
        <div id="mySidenav" class="sidenav a">
        <ul>

            <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>

            <li><a  href="/">Home</a></li>
            <li><a  href="/Text_Minecraft">Text Minecraft</a></li>
        </ul>
        </div>
        
        
    </div>

    
</body>
</html>


